<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841923563119-qh5vp6rr7645jnm6ud4k5suf5sdj7uqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841923563119-qh5vp6rr7645jnm6ud4k5suf5sdj7uqg</string>
	<key>API_KEY</key>
	<string>AIzaSyAHqzDId14EJDzhHMSfAuRVR4CJ9KY_REQ</string>
	<key>GCM_SENDER_ID</key>
	<string>841923563119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ad.assignmentrest2</string>
	<key>PROJECT_ID</key>
	<string>iosproject-4af49</string>
	<key>STORAGE_BUCKET</key>
	<string>iosproject-4af49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:841923563119:ios:a8a0f23ee27a86526d479a</string>
	<key>DATABASE_URL</key>
	<string>https://iosproject-4af49.firebaseio.com</string>
</dict>
</plist>
